<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, 
        user-scalable=0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg p-4">
        <a href="/">
            <img src="assets/svg/back-button.svg" alt="Back Button">
        </a>
        <a href="#">
            <img class="ms-5 w-50" src="assets/svg/logo1.svg" alt="">
        </a>
        <h1 class="text-uppercase">rock paper scissors</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex flex-column text-center px-3">
                <h2>Player 1</h2>
                <a id="batu-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="assets/image/batu.png" alt="batu">
                </a>
                <a id="kertas-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="assets/image/kertas.png" alt="kertas">
                </a>
                <a id="gunting-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="assets/image/gunting.png" alt="gunting">
                </a>
            </div>
            <div class="col-2 d-flex flex-column text-center">
                <div id="versus" class="my-auto">
                    <h1>VS</h1>
                </div>
                <div id="changeable" class="my-auto mx-auto text-center text-white"></div>
                <a class="w-100" href="#" onclick="refresh()">
                    <img class="w-50" src="assets/image/refresh.png" alt="refresh">
                </a>
            </div>
            <div class="col-5 d-flex flex-column text-center px-3">
                <h2 class="text-center">Com</h2>
                <a id="batu-com" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="assets/image/batu.png" alt="batu">
                </a>
                <a id="kertas-com" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="assets/image/kertas.png" alt="kertas">
                </a>
                <a id="gunting-com" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="assets/image/gunting.png" alt="gunting">
                </a>
            </div>
        </div>
    </div>
</body>

<script src="assets/js/main.js"></script>

</html>