<div id="fifth-page">
    <div class="row h-100 w-80">
        <div class="col-sm-6 align-self-center ms-5">
            <h1>TOP SCORES</h1>
            <p>This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning btn-lg mt-3">See More</button>
        </div>
        <div class="col-sm-5 ps-5" id="card-column">
            <div class="card" id="fst-card">
                <div class="identity">
                    <h3>Evan Lahti</h3>
                    <p>PC Gamer</p>
                </div>
                <div class="quote">
                    <p>“One of my gaming highlights of the year.”</p>
                </div>
                <div class="datequoted">
                    <p>October 18, 2018</p>
                </div>
                <div class="twitter-icon">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="card" id="snd-card">
                <div class="identity">
                    <h3>Jada Griffin </h3>
                    <p>Nerdreactor</p>
                </div>
                <div class="quote">
                    <p>“The next big thing in the world of streaming and survival games.”</p>
                </div>
                <div class="datequoted">
                    <p>October 21, 2018</p>
                </div>
                <div class="twitter-icon">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="card" id="trd-card">
                <div class="identity">
                    <h3>Aaron Williams </h3>
                    <p>Cultured</p>
                </div>
                <div class="quote">
                    <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                </div>
                <div class="datequoted">
                    <p>October 24, 2018</p>
                </div>
                <div class="twitter-icon">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</div>