<div id="first-page">
    <div id="main-text">
        <h1 class="mb-5">PLAY TRADITIONAL GAME</h1>
        <p>Experience new traditional game</p>
        <button type="button" class="btn btn-warning btn-lg mt-3">PLAY NOW</button>
    </div>
    <div id="bottom-middle">
        <p class="mb-0" id="">THE STORY</p>
        <i class="fas fa-caret-down"></i>
    </div>
</div>