<div id="fourth-page">
    <div class="row" id="frth-pad">
        <h3 class="ms-5">Can my computer run this game?</h3>
        <div class="col-sm-10 ps-4 " id="frth-desc">
            <h1>system requirements</h1>
        </div>
        <div class="col-sm-8">
            <div class="row border vw-50 ms-5">
                <div class="col-sm-6 sysreq">
                    <h3>OS :</h3>
                    <p>Windows 7 64-bit only
                        (No OSX support at this time)
                    </p>
                </div>
                <div class="col-sm-6  sysreq">
                    <h3>PROCESSOR :</h3>
                    <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                </div>
                <div class="col-sm-6  sysreq">
                    <h3>MEMORY :</h3>
                    <p>4 GB RAM</p>
                </div>
                <div class="col-sm-6  sysreq">
                    <h3>STORAGE :</h3>
                    <p>8 GB available space</p>
                </div>
                <div class="col-12 sysreq">
                    <h3>GRAPHICS :</h3>
                    <p>NVIDIA GeForce GTX 660 2GB or
                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                </div>
            </div>
        </div>
    </div>
</div>