<div id="second-page">
    <div class="row" id="snd-pad">
        <h3 class="ms-5">What's so special?</h3>
        <div class="col-sm-4 ps-5" id="snd-desc">
            <h1>THE GAMES</h1>
        </div>
        <div class="col-sm-8 pe-2">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="assets/image/slider.png" alt="...">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/image/page3.png" alt="...">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/image/page1.png" alt="...">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</div>