<div id="sixth-page">
    <div id="big-and-large-image"></div>
    <div class="row" id="row-last-page">
        <div class="col-sm-12">
            <h3>Want to stay in touch?</h3>
            <h1>newsletter SUBSCRIBE</h1>
        </div>
        <div class="col-sm-12">
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                else will be taken care of by us. We will send you emails containing information about game. We
                don’t spam.</p>
        </div>
        <div class="col-sm-7 my-3">
            <form class="form-floating">
                <input type="email" class="form-control text-warning" id="bg-form">
                <label for="floatingInputValue">Your email address</label>
            </form>
        </div>
        <div class="col-sm-5 my-3">
            <button type="button" class="btn btn-warning btn-lg h-100 w-100">Subscribe now</button>
        </div>
    </div>
</div>