<div id="third-page">
    <div class="row" id="trd-pad">
        <div class="col-md-6 offset-md-6">
            <h3 class="ms-5">What's so special?</h3>
            <div class="col-sm-4 ps-5" id="snd-desc">
                <h1>FEATURES</h1>
            </div>
            <ul class="timeline">
                <li>
                    <h3 class="text-warning text-uppercase">traditional games</h3>
                    <p class="text-white">if you miss your childhood, we provide <br> many traditional game</p>
                </li>
                <li class="with-border">
                    <h3 class="text-warning text-uppercase">game suit</h3>
                </li>
            </ul>
            <ul class="last-timeline">
                <li class="with-border">
                    <h3 class="text-warning text-uppercase">tbd</h3>
                </li>
            </ul>
        </div>
    </div>
</div>