@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: #9C835F;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(50px, 6vw, 80px);
    font-weight: bold;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(18px, 2.4vw, 24px);
    font-weight: bold;
}

nav > h1 {
    color: #F9B23D;
    font-style: inherit;
    font-size: 36px;
    font-weight: inherit;
}

#versus {
    font-size: 10vw;
    color: #BD0000;
    letter-spacing: 2px;
}

.clicked-part {
    border-radius: 10px;
}

#changeable {
    transform: rotate(-20deg);
    width: 100%;
    height: 8rem;
    display: none;
}

.container {
    width: 100vw;
}

#navbar {
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
}

#main-text {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

#bottom-middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#first-page {
    position: relative;
    top: 0;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("../image/page1.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: white;
}

#second-page {
    transform: translate(0, -0.01%);
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("../image/page2.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: white;
    box-shadow: inset 1em 1em 6em 1em #000;
}

#third-page {
    transform: translate(0, -0.01%);
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../image/page3.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: white;
}

#fourth-page {
    transform: translate(0, -0.01%);
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("../image/page4.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: white;
}

#fifth-page {
    transform: translate(0, -0.01%);
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url("../image/page5.png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: white;
}

#sixth-page {
    transform: translate(0, -0.01%);
    left: 0;
    z-index: -1000;
    background-color: #080A0B;
    height: 100vh;
    width: 100%;
    color: white;
}

#snd-pad {
    padding-top: 20vh;
}

#trd-pad {
    padding-top: 20vh;
}

ul.timeline,
ul.last-timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 22px;
    width: 2px;
    height: 80%;
    margin-top: 10px;
    z-index: 400;
}

ul.last-timeline:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 22px;
    width: 2px;
    height: 80%;
    margin-top: 10px;
    z-index: 400;
}

ul.timeline>li,
ul.last-timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before,
ul.last-timeline>li:before {
    content: ' ';
    margin-top: 10px;
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 15px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

ul.timeline>.with-border:before {
    content: ' ';
    background: transparent;
    border: 2px solid white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 2%px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

#frth-pad {
    padding-top: 20vh;
}

.sysreq {
    border: 1px solid #979797;
}

.sysreq h3 {
    color: #FFB548;
}

.swiper-button-next,
.swiper-button-prev {
    right: 10px;
    padding: 30px;
    border-radius: 10vh;
    color: #fff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transform: scale(1.1);
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white !important;
}

.card {
    padding-left: 8px;
    background: rgba(255, 255, 255, 0.08);
    width: 254px;
    height: 146px;
}

.card p {
    font-size: 12px;
}

#fst-card {
    margin-left: 20%;
    margin-bottom: 10px;
}

#snd-card {
    margin-bottom: 10px;
}

#trd-card {
    margin-left: 18%;
}

#card-column h3 {
    color: #FFB548;
}

.w-80 {
    width: 80%;
}

.identity {
    letter-spacing: 1px;
    padding-top: 8px;
    line-height: 1px;
}

.twitter-icon {
    position: absolute;
    right: 10%;
    top: 8px;
}

#big-and-large-image {
    z-index: -1000;
    height: 100%;
    width: 445px;
    position: absolute;
    margin-left: 160px;
    background-repeat: no-repeat !important;
    background-position: center center;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url("../image/big-and-large-image.png");
}

#row-last-page {
    padding-top: 12vh;
}

#bg-form {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    border: hidden;
}

#text-part,
#icon-part {
    display: inline;
}

#one-and-only-footer {
    width: 100%;
    background-color: #080A0B;
}

footer a {
    color: white;
    text-decoration: inherit;
}

#footer-hr {
    border: solid 1px white !important;

}

@media screen and (min-width:768px) {
    #bottom-middle {
        bottom: 5%;
    }

    .swiper-container {
        width: 600px;
        height: 300px;
    }

    .swiper-slide>img {
        width: 600px;
        height: 300px;
    }

    .vw-50 {
        width: 50vw;
    }

    #card-column {
        margin-top: 8%;
        margin-left: 2%;
    }

    #row-last-page {
        margin-left: 40%;
        padding-right: 10px;
    }
}

@media screen and (max-width:767px) {
    #bottom-middle {
        bottom: 8%;
    }

    .swiper-container {
        width: 100vw;
    }

    .swiper-slide>img {
        width: 100vw;
        height: 280px;
    }

    .vw-50 {
        width: 60vw;
    }

    #card-column {
        margin-top: 3%;
        margin-left: 10px;
    }

    #row-last-page {
        margin-right: 3px;
        margin-left: 5px;
    }

    .last-text {
        margin-top: 5px;
    }
}