<div class="content">
    <%- include('content/first-page'); -%>
        <%- include('content/second-page'); -%>
            <%- include('content/third-page'); -%>
                <%- include('content/fourth-page'); -%>
                    <%- include('content/fifth-page'); -%>
                        <%- include('content/sixth-page'); -%>
</div>