<footer id="one-and-only-footer">
    <div class="row w-75 mx-auto" id="before-hr">
        <div class="col-sm-12">
            <div class="float-end">
                <div id="text-part" class="me-3">
                    <a href="#first-page" class="mx-3">MAIN</a>
                    <a href="#second-page" class="mx-3">ABOUT</a>
                    <a href="#third-page" class="mx-3">GAME FEATURES</a>
                    <a href="#fourth-page" class="mx-3">SYSTEM REQUIREMENT</a>
                    <a href="#fifth-page" class="mx-3">QUOTES</a>
                </div>
                <div id="icon-part" class="ms-3">
                    <a class="fab fa-facebook-f mx-3"></a>
                    <a class="fab fa-twitter mx-3"></a>
                    <a class="fab fa-youtube mx-3"></a>
                    <a class="fab fa-twitch mx-3"></a>
                </div>
            </div>
        </div>
        <hr class="my-3" id="footer-hr">
        <div class="col-sm-12">
            <p class="d-inline last-text"> © 2018 Your Games, Inc. All Rights Reserved</p>
            <span class="text-white d-inline float-end mb-5 last-text">Privacy Policy | Terms of Services | Code of
                Conduct
            </span>
        </div>
    </div>
</footer>