<!-- Nabar -->
<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand my-auto ms-5 me-5" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto my-auto">
                <li class="nav-item">
                    <h6 class="nav-link ms-5" href="#">Home</h6>
                </li>
                <li class="nav-item">
                    <h6 class="nav-link ms-5" href="#">Work</h6>
                </li>
                <li class="nav-item">
                    <h6 class="nav-link ms-5" href="#">Contact</h6>
                </li>
                <li class="nav-item">
                    <h6 class="nav-link ms-5" href="#">About Me</h6>
                </li>
            </ul>
            <ul class="navbar-nav my-auto">
                <% if (loggedIn.id==null) { %>
                    <li class="nav-item">
                        <a class="nav-link ms-5" href="/register">
                            <h6>Sign Up</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-5 me-5" href="/login">
                            <h6>Login</h6>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <h6 class="nav-link ms-5 me-5" href="#">
                                <%= loggedIn.username %>
                            </h6>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-5 me-5" href="/logout">
                                <h6>Logout</h6>
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>

<style>

</style>